@import "tailwindcss";
@theme {
    --color-sarh-dark: #0f172a;
    --color-sarh-primary: #2563eb;
    --color-sarh-accent: #3b82f6;
    --color-sarh-surface: #1e293b;
    --color-sarh-muted: #64748b;
    --color-sarh-light: #f8fafc;
    --color-sarh-success: #10b981;
}

@layer base {
    body {
        @apply bg-slate-950 text-slate-100 min-h-screen antialiased;
    }
}